$color: #37474F;
$color-red: red;
$color-myaccount: #7E7D88;
$red: #E73F3F;

$bg: #F6F6F6;
$bg-white: #fff;
$bg-global: #FF9138;


$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius: 8px;
$box-shadow: 0px 0px 6px #E7E9F2;

$font-family: 'Nunito', sans-serif;