.menuBar {
  width: 200px;
  height: 100vh;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  img {
    max-width: 80px;
    max-height: 64px;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto {
      top: 32px;
      bottom: 54px;
    }
  }
  &_nav {
    flex: 1;

    &_a {
      height: 48px;
      display: flex;
      align-items: center;
      transition: 0.2s linear;
      svg {
        margin: 0 {
          left: 16px;
          right: 8px;
        }
      }
      span {
        font-size: $fz-16;
        font-weight: 600;
        line-height: calc(24 / 16);
        color: #7e7d88;
      }
      &:hover {
        background-color: #fff2e7;
        svg {
          path {
            stroke: $bg-global;
          }
        }
        span {
          color: $bg-global;
        }
      }
      .menuBar_nav_a_item-inner {
        display: flex;
        align-items: center;
      }
    }
  }
  &_btn {
    display: flex;
    align-items: center;
    margin: auto {
      bottom: 30px;
    }
    height: 48px;
    width: 167px;
    border-radius: $border-radius;
    background-color: #fff2e7;
    border: none;
    color: $bg-global;
    svg {
      margin: 14px 12px;
      path {
        stroke: $bg-global;
      }
    }
    p {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
