.AddSettingRole {
  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ff7506;
  }
  &_content {
    width: 100%;
    margin-right: 24px;
    margin-top: 32px;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: $border-radius;
    .row {
      display: flex;
      .col {
        width: 50%;
        &_box {
          background: #fff2e7;
          border-radius: 8px;
          padding: 16px 24px;
          p {
            font-size: 20px;
          }
          input[type="checkbox"] {
            visibility: hidden;
            &:checked + label {
              background: #0096ff;
            }
            &:checked + label:after {
              opacity: 1;
            }
            &.checkbox2 + label {
              background: lighten(#329d7b, 20%);
            }
            &.checkbox2 {
              &:checked + label {
                background: #329d7b;
              }
            }

            &.checkbox3 + label {
              background: lighten(#cc66ff, 20%);
            }
            &.checkbox3 {
              &:checked + label {
                background: #cc66ff;
              }
            }
          }
        }
      }
    }
  }
}
