.box {
  position: absolute;
  width: 80px;
  height: 94px;
  right: 0;
  top: 18%;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    background: #fff2e7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    p {
      color: #ff7506;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
    }
  }
}
