.Dashboard {
    display: flex;
    flex-direction: column;
    width: 791px;
    min-height: 100vh;
    &_p {
      margin-top: 29px;
      margin-bottom: 45px;
      font-weight: bold;
      font-size: 20px;
      color: $bg-global;
    }
    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_list {
        background-color: #fff;
        border-radius: $border-radius;
        padding: 7px;
        width: 186px;
        height: 120px;
        display: flex;
        flex-direction: column;
        &_top {
          display: flex;
          align-items: center;
          &_icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            margin-right: 12px;
            svg {
              width: 24px;
              height: 24px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          p {
            font-weight: bold;
            font-size: 14px;
            color: #535261;
          }
        }
        &_bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          p {
            font-weight: bold;
            font-size: 30px;
            color: #535261;
          }
        }
      }
    }
  }