.DetailEquiment {
  flex: 1;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  &_body {
    &_p {
      font-weight: bold;
      font-size: 24px;
      color: #ff7506;
      margin-bottom: 16px;
    }
    &_content {
      padding: 16px 24px;
      background: #ffffff;
      width: 1112px;
      height: 604px;
      box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
      border-radius: 16px;

      &_title {
        font-weight: bold;
        line-height: 30px;
        color: #ff7506;
        font-size: 20px;
        margin-bottom: 20px;
      }
      &_item {
        display: flex;
        table {
          text-align: left;
          tr {
            th {
              width: 10rem;
              height: 40px;
            }
            td {
              color: #535261;
            }
          }
          &:nth-child(1) {
            margin-right: 326px;
          }
        }
      }
    }
    h4 {
      margin: 16px 0 8px 0;
    }
    span {
      color: #535261;
      font-size: 16px;
    }
  }
}
