.Page {
    margin-top: 24px;
    margin-bottom: 25px;
    width: 1112px;
    position: relative;
    &_body {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      svg {
          cursor: pointer;
          color: red;
        &:hover {
          stroke: #ffe3cd;
          border-radius: 4px;
        }
      }
      &_items {
        padding: 5px 11px;
        font-weight: 600;
        font-size: 16px;
        color: #7e7d88;
        cursor: pointer;
        &:hover {
          background-color: #ffe3cd;
          border-radius: 4px;
        }
      }
      &_active {
        background: #ff7506;
        border-radius: 4px;
        color: #fff;
      }
    }
  }