.Service {
  & > p {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ff7506;
  }
  &_input {
    clear: both;
    height: 100%;
    overflow: hidden;
    max-width: 1112px;

    &_item {
      float: left;
      margin-right: 24px;
      label {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #282739;
      }
      &:nth-child(3) {
        float: right;
        margin: 0;
      }
      &_search {
        position: relative;
        display: flex;
        align-items: center;
        input {
          width: 300px;
          height: 44px;
          background: #ffffff;
          border: 1.5px solid #d4d4d7;
          box-sizing: border-box;
          border-radius: 8px;
          outline: none;
          padding: 0 16px;

          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
        svg {
          position: absolute;
          right: 5%;
          height: 20px;
          width: 20px;
          stroke: #ff7506;
        }
      }
    }
  }
}
