.Info {
    flex: 1;
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 {
        top: 29px;
        left: 0;
        right: 64px;
      }
      &_p {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $bg-global;
      }
      &_right {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: right;
        &_icon {
          background-color: #fff2e7;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          position: relative;
          svg {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        img {
          height: 100%;
          max-width: 40px;
          max-height: 40px;
          border-radius: 50%;
          margin: 0 {
            left: 24px;
            right: 8px;
          }
        }
        &_title {
          span {
            font-size: 12px;
            line-height: calc(18 / 12);
            color: #7e7d88;
          }
          p {
            font-weight: bold;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: #535261;
          }
        }
      }
    }
    &_header {
      width: 1112px;
      height: 397px;
      border-radius: 12px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 40px 24px;
      position: fixed;
      left: 224px;
      top: 168px;
      &_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
  
        img {
          max-width: 248px;
          max-height: 248px;
          border-radius: 50%;
          // margin: 24px {
          //   top: 40px;
          //   bottom: 19px;
          // }
        }
        p {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: #282739;
        }
      }
      &_input {
        input {
          width: 384px;
          height: 44px;
          background: #eaeaec;
          border-radius: 6px;
          font-size: 16px;
          line-height: 24px;
          color: #535261;
          outline: none;
          border: none;
          padding: 16px;
        }
        &_label {
          @include label;
        }
      }
    }
  }