@import '../../../scss/index.scss';

.login_body {
    label {
        @include label;
    }
    input {
        @include input;
    }
    p {
        margin-top: 12px;
        margin-bottom: 19px;
        color: $color-red;
        font-size: $fz-14;
    }
    button {
        @include btn;
        display: block;
        margin: 0 auto;
    }
}