.DetailService {
    flex: 1;
    margin-left: 24px;
  &_body {
    p {
      font-weight: bold;
      font-size: 24px;
      color: #ff7506;
      margin-bottom: 16px;
    }
    &_content {
        padding: 16px 24px;
      background: #ffffff;
      width: 1112px;
      height: 604px;
      box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
      border-radius: 16px;
      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
