@import "../../scss/index.scss";

.myaccount {
  background-color: $body-bg;
  display: flex;
  height: 100vh;
  .myaccount_left {
    background-color: $body-White;
    width: 200px;
    img {
      width: 80px;
      height: 64px;
      margin: 32px auto 54px;
      display: block;
    }
    ul {
      li {
        width: 200px;
        height: 48px;
        a {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 0 8px 0 16px;
            color: $color-myaccount;
          }
          p {
            flex: 1;
            font-size: $fz-16;
            line-height: 24px;
            color: $color-myaccount;
            font-weight: 600;
          }
        }
      }
    }
  }
  .myaccount_right {
    flex: 1;
    .myaccount_right_header {
      display: flex;
      justify-content: space-between;
      padding: 24px;
      align-items: center;
      h3 {
        font-size: $fz-20;
        line-height: calc(30 / 20);
        font-weight: bold;
        color: $bg-web;
      }
      .myaccount_right_header_user {
        display: flex;
        justify-content: right;
        align-items: center;
        flex: 1;
        svg {
          margin-right: 33.59px;
        }
        img {
          margin-right: 8px;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          max-width: 40px;
          max-height: 40px;
        }
        .myaccount_right_header_user_title {
          span {
            font-size: $fz-12;
            line-height: calc(18 / 12);
            color: #7e7d88;
          }
          p {
            font-size: $fz-16;
            line-height: calc(24 / 16);
            color: #535261;
            font-weight: bold;
          }
        }
      }
    }
    .myaccount_right_container {
        background-color: $body-White;
        border-radius: $border-radius;
        width: 1112px;
        height: 397px;
    }
  }
}
