@import "../../../scss/index.scss";

.resetpass_body {
  p {
    font-weight: 700;
    font-size: $fz-22;
    line-height: 33px;
    text-align: center;
    margin-bottom: 12px;
  }
  label {
    @include label;
  }
  .resetpass_body_input {
    position: relative;
    span {
      display: none;
      svg {
        width: 16.67px;
        height: 16.67px;
        position: absolute;
      }
    }
    input {
      @include input;
    }
  }
  button {
    @include btn;
    display: block;
    margin: 48px auto 0;
  }
}
