.forgotPassword {
  display: flex;
  background-color: $bg;
  height: 100vh;
  &_left {
    flex: 1;
    &_form {
      width: 400px;
      text-align: center;
      margin: 0 auto;
      img {
        height: 100%;
        max-width: 170px;
        max-height: 136px;
        display: block;
        margin: auto {
          top: 82px;
          bottom: 102px;
        }
      }
      &_top {
        font-weight: bold;
        font-size: $fz-22;
        line-height: calc(33 / 22);
      }
      &_bottom {
        display: block;
        font-size: $fz-18;
        line-height: calc(27 / 18);
        margin: 0 {
          top: 16px;
          bottom: 4px;
        }
      }
      input {
        @include input;
      }
      &_btn {
        display: flex;
        margin-top: 48px;
        justify-content: center;
        button {
          @include btn;
        }
        .active {
          background-color: #fff;
          color: $bg-global;
          border: 1.5px solid $bg-global;
          margin-right: 24px;
        }
      }
    }
  }
  &_right {
    width: 848px;
    position: relative;
    background-color: $bg-white;
    img {
      position: absolute;
      max-width: 711px;
      max-height: 560px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
