.login {
  background-color: $bg;
  display: flex;
  height: 100vh;
  &_left {
    flex: 1;
    &_form {
      width: 400px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        max-width: 170px;
        max-height: 136px;
        display: block;
        margin: auto {
          top: 82px;
          bottom: 75px;
        }
      }
      input {
        @include input;
      }
      a {
        display: block;
        color: $red;
        font-size: $fz-14;
        line-height: calc(21 / 14);
        margin: 0 {
          top: 12px;
          bottom: 19px;
        }
      }
      button {
        display: block;
        margin: auto {
          top: 19px;
        }
      }
      &_input {
        position: relative;
        &_icon {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          svg {
            width: 20px;
            height: 20px;
            stroke: #7e7d88;
          }
          .hide_one {
            display: none;
          }
        }
      }
      &_p {
        display: flex;
        align-items: center;
        span {
          display: block;
          font-size: $fz-14;
          line-height: 14px;
          color: #e73f3f;
          margin: 0 {
            top: 12px;
            bottom: 2px;
            left: 4px;
          }
        }
      }
      &_btn {
        @include btn;
      }
      &_footer {
        text-align: center;
        margin-top: 8px;
        color: $red;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &_right {
    background-color: $bg-white;
    width: 848px;
    position: relative;
    img {
      max-height: 614, 06px;
      max-width: 605px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &_title {
      position: absolute;
      right: 2%;
      bottom: 35%;
      &_top {
        font-size: $fz-34;
        line-height: calc(51 / 34);
        color: $bg-global;
      }
      &_bottom {
        font-weight: 900;
        font-size: $fz-36;
        line-height: calc(54 / 36);
        color: $bg-global;
      }
    }
  }
}
