.resetPassword {
  text-align: left;
  p {
    font-weight: bold;
    font-size: $fz-22;
    line-height: calc(33 / 22);
    text-align: center;
  }
  &_label {
    @include label;
  }
  input {
    @include input;
  }
  button {
    @include btn;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
}
