@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');
@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  background-color: $bg;
  overflow: hidden;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}
.container {
  display: flex;
  background-color: $bg;
  justify-content: left;
  min-height: 100vh;
}

.status_off::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #E73F3F;
  margin-right:4px;
}
.status_on::before {
 content: '';
 display: inline-block;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background-color: #35C75A;
 margin-right:4px;
}