
@mixin flex($alignItem, $justifyContent) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin input() {
  padding: 10px 16px 10px 12px;
  width: 400px;
  border-radius: $border-radius;
  outline: none;
  border: 1.5px solid #d4d4d7;
  color: #535261;
  font-size: $fz-18;
  line-height: 27px;
  font-family: $font-family;
  height: 44px;

}
// @mixin label() {
  
// }
// @mixin btn() {
//   background-color: $bg-web;
//   border-radius: $border-radius;
//   box-shadow: $box-shadow;
//   padding: 10px 24px;
//   font-size: 16px;
//   font-weight: 700;
//   color: $body-White;
//   border: none;
//   cursor: pointer;
//   width: 162px;
//   height: 40px;
// }

