$color: #37474F;
$color-red: red;
$color-myaccount: #7E7D88;
$red: #E73F3F;

$bg: #F6F6F6;
$bg-white: #fff;
$bg-global: #FF9138;


$fz-8: 8px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-30: 30px;
$fz-34: 34px;
$fz-36: 36px;


$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius: 8px;
$box-shadow: 0px 0px 6px #E7E9F2;

$font-family: Nunito;
